.nav-main li {

    list-style: none;
    & a{
        text-decoration: none;
    }
}

//boton burger
.menu-btn {
    position: absolute;
    cursor: pointer;
    top:3.5rem;
    right: 5rem;
    z-index: 2;

}


